hr{
    width: 20%;
}
.jumbotron h1{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    z-index: 1;
    color: black;

}



.card-text.title{
    font-weight: bold;
    white-space: initial;
    text-transform: uppercase;
}

.card{
    width: 300px;
}