hr{
    border-top: black 3px solid;
    padding-bottom: 10px;
}
.navbar-brand{
    font-size: 40px;
}
div form{
    padding: 19px;
}

section.cover {
    width: 100%;
    height: 100%;
    padding: 200px;
    display: block;
    position: relative;
}

html::after {
    content: "";
    background: url('https://www.irishtimes.com/polopoly_fs/1.4405613.1605030410!/image/image.jpg_gen/derivatives/box_620_330/image.jpg');
    opacity: 0.5;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section div{
    height: 109px;
}